# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Secrets & credentials (never commit these!)
*.env
.env
secrets.yml
vault_pass.txt
**/credentials.yml

# Ansible retry files
*.retry

# Terraform (if added later)
.terraform/
*.tfstate
*.tfstate.backup
